@model Cart

<link rel="stylesheet" type="text/css" href="~/css/productDetail.css" />
<div class="container" style="margin-top: 130px;">
    <form method="post">
        <input hidden asp-for="ProductId" />
		<div class="pd-wrap">
			<div class="container">
				<div class="heading-section">
					<h2>Product Details</h2>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="product-image">
								<img src="~/images/@Model.Product.ImageUrl" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-dtl">
							<div class="product-info">
								<div class="product-name">@Model.Product.Name</div>
							</div>
							<div class="product-info">
								<p class="product-category">Category Name:
									<a asp-action="Category" asp-route-cateId="@Model.Product.CategoryId">
										@Model.Product.Category.Name
										</a>
								</p>
							</div>
							<div class="product-info">
								<p class="product-brand">Brand Name: 
									<a asp-action="Brand" asp-route-cateId="@Model.Product.BrandId">
										@Model.Product.Brand.Name
									</a>
									</p>
							</div>
							<div class="product-count">
								<label for="Count">Quantity</label>
								<input asp-for="Count" class="form-control" />
							</div>
								 <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px; margin-top: 5px; hover: cursor;">Add to Cart</button>
						</div>
					</div>
				</div>
				<div class="product-info-tabs">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
							@Model.Product.Description
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
